<div class="alert alert-light" role="alert">
  <h1 class="alert-heading">Mis canciones</h1>
  <p>Lista de tus canciones favoritas</p>
  <hr>
</div>



<div class="row d-flex justify-content-start">
  {{#each canciones}}
  <div class="col-sm-6">
    <div class="card mb-3" style="max-width: 640px;">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-between">
              <span>{{titulo}}</span>
              <span class="text-muted" >{{grupo}}</span>
            </h5>
            <hr>
            <p class="card-text d-flex justify-content-between">
              <span class="text-muted" >Genero: {{genero}}</span>
              <span class="text-muted" >Año: {{anho}}</span>
            </p>
            <p class="card-text"><small class="text-muted" style="font-size: .6rem;" id="lista-creado-en">{{ createdAt }}</small></p>
          </div>
        </div>
        <div class="card-footer">
          {{!-- Boton para eliminar una cancion --}}
          <form action="/cancion/eliminar/{{_id}}?_method=DELETE" id="btn-delete-{{_id}}" method="POST">
            <input type="hidden" name="_method" />
          </form>
          <div class="d-flex justify-content-between">
              <div id="eliminar">
              </div>
              <div id="acciones">
                <a class="btn btn-primary btn-sm text-white" style="font-size:0.7rem;" href="/cancion/ver/{{_id}}">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a class="btn btn-warning btn-sm text-white" style="font-size:0.7rem;" href="/cancion/editar/{{_id}}">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </a>
                <a
                  role="button"
                  type="submit" 
                  class="btn btn-danger btn-sm text-white" 
                  style="font-size:0.7rem;"
                  onclick="document.querySelector('#btn-delete-{{_id}}').submit();"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}} 
</div>

<script>
    let createAt = document.querySelectorAll('#lista-creado-en');
    createAt.forEach((el) => {
      moment.locale('es');
      const fechaDB = el.innerHTML;
      const fechaMoment = moment(fechaDB).calendar();
      el.innerHTML = "Agregado "+ fechaMoment;
    });
</script>
