<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lista de canciones">
    <meta name="keywords" content="HTML, CSS, NodeJs, Bootstrap, Musica, Canciones">
    <meta name="author" content="ProgrammerAuditore">
    <meta name="copyright"content="ProgrammerAuditore">
    <meta name="url" content="http://www.websiteaddrress.com">
    <meta name="language" content="ES">

    {{!-- OpenGraph Meta Tags --}}
    <meta name="og:title" content="The Rock"/>
    <meta name="og:type" content="movie"/>
    <meta name="og:url" content="http://www.imdb.com/title/tt0117500/"/>
    <meta name="og:image" content="http://ia.media-imdb.com/rock.jpg"/>
    <meta name="og:site_name" content="IMDb"/>
    <meta name="og:description" content="A group of U.S. Marines, under command of..."/>

    <link rel="shortcut icon" href="/assets/icon64x64.png">
    <title>Document</title>

    <!-- FontAwesome Kit -->
    <script src="/fontawesome/all.min.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link href="/bootstrapv5/bootstrap.min.css" rel="stylesheet">

    <!-- Moment.js  -->
    <script src="/assets/moment-with-locales.js" crossorigin="anonymous"></script>
</head>
<body>

    {{>navbar}} 
    <div class="container" style="min-height:77.6vh;">
        {{{body}}}
    </div>
    {{>footer}} 

    <script src="/bootstrapv5/popper.min.js"></script>
    <script src="/bootstrapv5/bootstrap.min.js"></script>
</body>
</html>